.success-wrapper{
    padding:7rem 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    & .check-icon{
        margin-bottom: 2.5rem;
    }

    & .thanks-text{
        color: var(--dark-violet);
        font-size: 1.8rem;
        font-weight: 500;
        letter-spacing: 0.2rem;
        margin-bottom: 1.5rem;
    }

    & .added-text{
        color: var(--grey-violet);
        font-weight: 500;
        margin-bottom: 2.5rem;

    }
}