.btn{
    background-color: var(--dark-violet);
    color: #fff;
    font-family: 'Space Grotesk', sans-serif;
    letter-spacing: 0.03rem;
    font-size: 1.1rem;
    padding: 1.1rem;
    border-radius: 0.5rem;
    margin-top: 0.5rem;
    text-align: center;
    width: 100%;
}