.wrapper-form {
    margin-top: 24%;
    margin: 0 1em;
    display: flex;
    flex-direction: column;
    & .btn-enviar{
        background-color: var(--dark-violet);
        color: #fff;
        font-family: 'Space Grotesk', sans-serif;
        letter-spacing: 0.03rem;
        font-size: 1.1rem;
        padding: .9rem;
        border-radius: 0.5rem;
        flex-grow:1;
        margin-top: 0.5rem;
    }
}

@media screen and (min-width: 700px){
    .wrapper-form{
        max-width: 90%;
        margin: 0 auto;     
    }
}

@media screen and (min-width: 1300px){
    .wrapper-form{
        justify-content: center;   
        align-items: center;
        width: 400px;
    }
}